.relative {
    position: relative;
}

.absolute {
    position: absolute;
    /* right: 100px; */
    bottom: 0px;
    background: #FFFFFF;
    margin: 0;
    padding: 0 100%;
}


.test{
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}