{% extends "base.html" %} 
{% load bootstrap %} 
{% block title %}売り上げ編集{% endblock title %} 
{% block extrahead %}
<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script>
  $('[data-toggle=datepicker]').each(function () {
    var target = $(this).data('target-name');
    var t = $('input[name=' + target + ']');
    t.datepicker({
      dateFormat: 'yy-mm-dd',
    });
    $(this).on("click", function () {
      t.datepicker("show");
    });
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<!-- カレンダー -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css">
<script>
  $(function () {
    var dateFormat = 'yy-mm-dd';
    $('#id_sales_date').datepicker({
      dateFormat: dateFormat
    });

  });
</script> {% endblock %}
 {% block content %}

{% if sales_id %}
<h3 class="page-header" style="margin-top: 10%;">売上編集</h3>
<form action="{% url 'blog:edit' sales_id=sales_id %}" method="post" class="form-horizontal" role="form">
 
{% else %}
<h3 class="page-header" style="margin-top: 10%;">売上登録</h3>
<form action="{% url 'blog:add' %}" method="post" class="form-horizontal" role="form">

 {% endif %} 
{% csrf_token %}
{{ form|bootstrap_horizontal }}
  
    <br>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        {% if sales_id %}
        <button type="submit" class="btn btn-primary">修正</button>
        {% else %}
        <button type="submit" class="btn btn-primary">登録</button>
        {% endif %} 

        <a href="{% url 'blog:summary' %}" class="btn btn-default btn-sm">戻る</a>
      </div>
    </div>

  </form>


  {% endblock content %} {% block nav %}

  {% endblock %}