{% extends 'base.html' %} 
{% block content %} 


<div class='container'>
  <center>
<form method='post' action='{% url 'blog:login' %}'>
{% csrf_token %}
<br><br><br><br><br><br><br>
    <div class="form-horizontal">{{ form.username.label_tag }}</div>
    <br>
    <div class="form-horizontal">{{ form.username }}</div>
    <br>
    <div class="form-horizontal">{{ form.password.label_tag }}</div>
    <br>
    <div class="form-horizontal">{{ form.password }}</div>
    <br>
 
<input class="btn btn-outline-primary" type='submit' value='Login' />
<input class="btn btn-outline-primary" type='hidden' name='next' value='{{ next }}' />
</form>
</div>
</center>
{% endblock %}