{% extends "base.html" %}{% load bootstrap %}

{% block title %}売り上げ集計{% endblock title %}


<!DOCTYPE html>
{% block extrahead %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title:{
		text: ""
	},
	axisX: {
		valueFormatString: "DDD"
	},
	axisY: {
		prefix: "￥"
	},
	toolTip: {
		shared: true
	},
	legend:{
		cursor: "pointer",
		itemclick: toggleDataSeries
	},
	data: [
	{
		type: "stackedBar",
		name: "売上",
		yValueFormatString: "￥###,###,###",
		dataPoints: {{ data|safe }}
    // [
		// 	{ x: new Date(2017, 0, 30), y: 52 },
		// 	{ x: new Date(2017, 0, 31), y: 55 },
		// 	{ x: new Date(2017, 1, 1), y: 20 },
		// 	{ x: new Date(2017, 1, 2), y: 35 },
		// 	{ x: new Date(2017, 1, 3), y: 30 },
		// 	{ x: new Date(2017, 1, 4), y: 45 },
		// 	{ x: new Date(2017, 1, 5), y: 25 }
		// ]
	}]
});
chart.render();

function toggleDataSeries(e) {
	if(typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else {
		e.dataSeries.visible = true;
	}
	chart.render();
}

}
</script>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script>
  $('[data-toggle=datepicker]').each(function () {
    var target = $(this).data('target-name');
    var t = $('input[name=' + target + ']');
    t.datepicker({
      dateFormat: 'yy-mm-dd',
    });
    $(this).on("click", function () {
      t.datepicker("show");
    });
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<!-- カレンダー -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css">
<script>
  $(function () {
    var dateFormat = 'yy-mm-dd';
    $('#id_hizuke1').datepicker({
      dateFormat: dateFormat
    });

  });
</script>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script>
  $('[data-toggle=datepicker]').each(function () {
    var target = $(this).data('target-name');
    var t = $('input[name=' + target + ']');
    t.datepicker({
      dateFormat: 'yy-mm-dd',
    });
    $(this).on("click", function () {
      t.datepicker("show");
    });
  });
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

<!-- カレンダー -->
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-lightness/jquery-ui.css">
<script>
  $(function () {
    var dateFormat = 'yy-mm-dd';
    $('#id_hizuke2').datepicker({
      dateFormat: dateFormat
    });

  });
</script>


<link rel="stylesheet" type="text/css" href="summary.css">

{% endblock %}

{% block content %}


<br>

  <div class="container">

      <center><h5>売り上げ集計</h5></center>

      <center> {{from_date|date:"Y-m-d"}}&nbsp;~&nbsp;{{to_date|date:"Y-m-d"}}</center>


    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <center>
      <br>

      <form action="{% url 'blog:kensaku' %}" method="post" role="form">
        {% csrf_token %}
        From{{ form1.hizuke1}}
        
        To:{{ form1.hizuke2}}
        <br>
        <a href="{% url 'blog:kensaku' %}"><button name='period' type="submit" class="btn btn-outline-primary">検索開始</button></a>
        
      </form>
      
      <hr>

      <a href="{% url 'blog:add' %}"><button type="button" class="btn btn-outline-primary">売り上げ入力</button></a>
      
      <br><br>
    </center>

    <table class="table table-striped table-bordered">
      <thead>
        <tr style="text-align: center;">
          <th>担当者</th>
          <th>金額</th>
          <th>売上日</th>  
          <!-- <th>作成日</th> -->
          {% if perms.blog %}
            {% if perms.blog.can_delete %}
          <th>操作</th>
            {% endif %}
            {% else %}
            {% endif %}
        </tr>
      </thead>
      <tbody>
          
        {% for sale in sales %}
        {% load humanize %}
        <tr>
          <td style="text-align: center;">{{ sale.sale_man }}</td>
          <td style="text-align: right;" >￥{{ sale.sales_mount| intcomma}}-</td>
          <td style="text-align: right;">{{ sale.sales_date|date:"Y-m-d" }}</td>
          <!-- <td>{{ sale.created_date }}</td> -->
          {% if perms.blog %}
            {% if perms.blog.can_delete %}
          <td style="text-align: center;">
            <a href="{% url 'blog:edit' sales_id=sale.id %}" class="btn btn-default btn-sm">修正</a> 
            <a href="{% url 'blog:sales_del' sales_id=sale.id %}" class="btn btn-default btn-sm">削除</a>
          </td>
          {% endif %}
          {% else %}
          {% endif %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
 
  </div>

  <br><br><br><br><br>
  
{% endblock content %}



</html>
