{% extends 'base.html' %} 
{% block content %} 


<div class='container'>
  <center>

<h1 style="margin-top: 25%;">Not Found</h1>
<p>{{ request_path }} は見つかりませんでした。</p>
<a href="{% url 'blog:summary' %}">トップへ戻る</a>

</div>
</center>
{% endblock %}